.SingleContent {
	color: whitesmoke;
	position: relative;
	height: 100vh;
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(255, 0, 0, 0.1) 100%);
	line-height: 150%;
}

.Card {
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
	background-color: rgb(8, 8, 8);
	box-shadow: 0px 0px 40px -4px rgba(100, 100, 100, 0.1);
	border-radius: 5px;
}

.Backdrop {
	position: relative;
	background-size: cover;
	border-radius: 5px 5px 0 0;
	position: relative;
	display: flex;
	overflow: hidden;
	height: 0;
	padding-top: 56.25%;
}

.Overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(8, 8, 8, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.Poster {
	width: 150px;
	border: 4px solid whitesmoke;
	margin-right: 20px;
	border-radius: 2px;
}

.TopContent {
	display: flex;
	align-items: center;
	transform: translateY(-80px) translateX(20px);
}

.Titles {
	width: 100%;
	padding-right: 40px;
}

.TitleLine {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.TitleLine h1 {
	margin-right: 20px;
	line-height: 120%;
}

.Redirect {
	background-color: red;
	padding: 10px 20px;
	border: none;
	color: whitesmoke;
	font-weight: bold;
	border-radius: 5px;
	transition: all .2s linear;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}

.Redirect:hover {
	background-color: rgb(185, 0, 0);
	transition: all .2s linear;
}

.Redirect:active {
	background-color: rgb(100, 0, 0);
	transition: all .2s linear;
}

@media (max-width: 1919px) {
	.Card {
		width: 60%;
	}

	.Overview {
		width: 70%;
	}
}

@media (max-width: 1250px) {
	.Card {
		width: 70%;
	}

	.Overview {
		width: 90%;
	}
}

@media (max-width: 776px) {
	.Card {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.TopContent {
		flex-direction: column;
		transform: translateY(-40px);
		align-items: unset;
		justify-content: center;
	}

	.TitleLine {
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.TitleLine h1 {
		margin-right: 0;
		padding-right: 10px;
		padding-left: 10px;
	}

	.Titles {
		padding-right: 0;
	}

	.Poster {
		margin: 0 auto;
	}

	.Overview {
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		margin: 0 auto;
	}
}
