.Navbar {
	position: absolute;
	width: 100%;
	text-decoration: none;
	z-index: 10;
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}

.NavbarFixed {
	position: relative;
	width: 100%;
	text-decoration: none;
	z-index: 10;
	background: rgb(0, 0, 0);
}

.NavContent {
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.LeftSideNav {
	display: flex;
	align-items: center;
}

.Logo {
	text-decoration: none;
	margin-right: 20px;
	color: whitesmoke;
}

.Links span:first-child {
	margin-right: 20px;
}

.Link {
	text-decoration: none;
	color: whitesmoke;
}
