.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	text-decoration: none;
}

.Logo {
	text-decoration: none;
}

.Links span:first-child {
	margin-right: 20px;
}

.Link {
	text-decoration: none;
}
